form {
    height: 100%;
}

#top, #bottom {
    height: 18%;
}

#mid {
    height: 50%;
}

#ionContent {
    --background: none;
    background-image: url('../../assets/login/BG_login.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}