form {
    height: 100%;
}

#imgAuth {
    border-radius: 50% !important;
    overflow: hidden;
}

// #top, #bottom {
//     height: 18%;
// }

// #mid {
//     height: 20%;
// }

#ionContent {
    --background: none;
    background-image: url('../../assets/login/BG_login.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}