<ion-header>
  <ion-grid style="height: 50px; margin-bottom: 10px;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" (click)="changeFilterSite()">
        <ion-tab-button>
          <ion-label>Filter by Site</ion-label>
          <ion-icon name="funnel-outline"></ion-icon>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [id]="myTime">
  <ion-grid>
    <ion-row class="ion-align-items-stretch">
      <ion-col size="6" *ngFor="let lamp of lampList; let i = index">
        <ion-card (click)="changeStatus(lamp.status, lamp.device_code, lamp.bat_name)" [id]="lamp.status === 1 ? 'onLamp' : 'offLamp'" class="ion-no-margin">
          <ion-card-header class="ion-text-center">
            <div><ion-note [id]="lamp.status === 1 ? 'noteWakeup' : 'noteSleep'">{{ lamp.bat_name }}</ion-note></div>
            <img [id]="lamp.status === 1 ? 'wakeup' : 'sleep'" [src]="'../../../../assets/lamp-list/' + (lamp.status === 1 ? 'bat' : 'bat-sleep-png\ Comp\ 1') + '.gif'">
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
