#noteDay {
    font-weight: bold;
    // color: rgb(248, 104, 47);
    color: white;
}

#noteNight {
    font-weight: bold;
    color: black;
}

#sleep {
    height: 126px;
    width: auto;
    opacity: 1;
}

#wakeup {
    opacity: 1;
}

#dayCard {
    height: 160px;
    background-color: rgb(0, 0, 0);
    opacity: 0.84;
}

#nightCard {
    height: 160px;
    background-color: rgb(255, 255, 255);
    opacity: 0.78;
}