<ion-header>
  <ion-toolbar>
    <ion-title>All Schedule</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let schedule of allSchedule">
        <ion-card class="ion-padding">
          <div class="ion-text-center">
            <ion-label>
              <ion-icon name="alarm-outline" style="font-size: 40px;"></ion-icon>
            </ion-label>
            <ion-datetime [pickerOptions]="customPickerOptions" id="ionDateTime" display-format="h:mm A" picker-format="h:mm A" [value]="(schedule)"></ion-datetime>
            <ion-button fill="outline">Remove</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="allSchedule.length === 0" class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        Schedule not available
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate explicabo beatae inventore ipsum alias quasi non quae architecto rem laudantium, voluptatem repudiandae, repellat necessitatibus repellendus! Pariatur, minima! Placeat, quibusdam natus!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque possimus vero recusandae consequatur molestiae. Minus non ullam odit dolorum aliquid rerum. Nostrum, cum. Ad maiores aspernatur consequuntur velit iste placeat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, aliquid nam. Odit incidunt, fugit officia, sit placeat commodi porro exercitationem libero fuga pariatur facere nulla aspernatur necessitatibus, blanditiis ipsam illum!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, temporibus. Ratione, illo non blanditiis reiciendis tenetur sapiente sunt optio et veritatis cum quis unde animi, pariatur quaerat consequatur neque sequi!
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
