<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-item>
            <div slot="start">
              <ion-buttons>
                <ion-datetime (click)="onUpdate(null)" [pickerOptions]="customPickerOptions" id="ionDateTime" displayFormat="h-mm-A" picker-format="h:mm A"></ion-datetime>
                <ion-icon style="font-size: 26px;" name="add-outline"></ion-icon>
              </ion-buttons>
            </div>
            <div (click)="onCancel()" slot="end">
              <ion-tab-button>
                <ion-icon name="close"></ion-icon>
              </ion-tab-button>
            </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let schedule of allSchedule; let i = index;">
        <ion-card class="ion-padding">
          <div class="ion-text-center">
            <ion-label (click)="onUpdateTime(allScheduleId[i])">
              <ion-icon name="alarm-outline" style="font-size: 40px;"></ion-icon>
            </ion-label>
            <ion-datetime (click)="onUpdate(allScheduleId[i])" [pickerOptions]="customPickerOptions" [id]="allScheduleId[i]" display-format="h:mm A" picker-format="h:mm A" [value]="(schedule)"></ion-datetime>
            <ion-button fill="outline" (click)="removeSchedule(allScheduleId[i])">Remove</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="allSchedule.length === 0" class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        Schedule List has not been set
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
