/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.schedule-list > .modal-wrapper {
    position: absolute; 
    height: 70%;
    width: 94%;
    right: 3%;
    left: 3%;
    top: 15%;
    bottom: 15%;
    display: block; 
}

.alert-lamp-list-action > .alert-wrapper {
 --ion-text-color: var(--ion-color-warning) !important;
 align-items: center;
}

.alert-change-filter > .alert-wrapper {
    --ion-text-color: var(--ion-color-medium-shade) !important;
}

.alert-lamp-list-action > .alert-wrapper > div, .alert-change-filter > .alert-wrapper > div {
    align-items: center;
}
